.NavFilter {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}
.Category_fiter {
  margin: 5px;
  margin-left: 50px;
  display: flex;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.__filter {
  display: flex;
  font-size: 20px;
  width: 20%;
}
.hidden__ {
  margin: 5px;
  margin-right: 20%;
  display: flex;
  background-color: white;
  border: none;
  cursor: pointer;
}
.short_by {
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.dropbtn {
  display: flex;
}
.icon_filter {
  margin-left: 10px;
}
#myDropdown {
  z-index: 11;
}
