.CartList {
  background-color: #fff;
  margin: 20px;
}
.CartTotal {
  margin: 20px;
}
.fullcart {
  padding: 3%;
  display: flex;
}
.bag {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}
