.Productlist {
  --item: 4;
  --spacing: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  display: flex;
  margin-right: var(--spacing);
}
@media screen and (max-width: 1200px) {
  .Productlist {
    --item: 3;
    --spacing: 3.5rem;
  }
}
@media screen and (max-width: 767px) {
  .Productlist {
    --item: 1;
    --spacing: 0.5rem;
  }
}
.item {
  margin-top: var(--spacing);
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  height: 34rem;
  width: calc(calc(100% / var(--item)) - var(--spacing));
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: #585858;
}
.item_image {
  position: relative;
  height: 65%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  flex-shrink: 0;
}
.item_image img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item_information {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  border: 1px solid #d6d5d6;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.information_top {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* height: 60%; */
}
.information_bottom {
  flex-shrink: 0;
  /* height: 40%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-name {
  font-weight: 900;
  font-size: 2rem;
  height: 6rem;
  word-break: break-all;
  /* evon snipped */
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.cate {
  flex-shrink: 0;
}
.price {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  /* margin-top: 2rem;
  margin-bottom: 3rem; */
}
.pay {
  font-family: "Rubik", sans-serif;

  /* height: 50%;
  border-radius: 2rem;
  border: 1px solid; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

.MuiButton-root {
  background-color: #f6c90e !important;
  color: #585858 !important;
  width: 100% !important;
  line-height: 2rem !important;
  display: flex !important;
  font-family: "Rubik", sans-serif !important;
  font-size: 1.8rem !important;
  font-weight: 700 !important;
  /* border: 1px solid black !important; */
}
