.container_products {
  margin: 10px;
  position: relative;
  left: 5%;
  height: 420px;
  width: 350px;
  padding: 10px;
  background: #fff;
  box-shadow: 0.0625rem 0.0625rem 0.125rem 0.0625rem rgb(0 0 0 / 10%);
  background-color: white;
}

/* Display */
.display__product {
  position: relative;
  margin: 30px auto;
  height: 250px;
  width: 250px;
  background: rgb(245, 245, 245);
  border-radius: 1.25rem;
  z-index: 10;
}
.display__product::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  background: rgb(204, 204, 204);
  border-radius: 50%;
  z-index: 9;
}
.display__product img {
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(15deg);
  -webkit-filter: drop-shadow(0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%));
  z-index: 11;
}
/* Name */
.title__section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title__section span {
  display: flex;
  align-items: center;
  color: #929292;
}
.title__section span i {
  margin-right: 5px;
  font-size: 14px;
  color: #fdd446;
  line-height: 8px;
}
.title h2 {
  color: #424aa4;
  font-weight: bold;
  font-size: 25px;
  font-family: "Baloo 2";
}

/* Title */
.product__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__add .price {
  font-size: 40px;
  font-weight: 700;
  font-family: "Baloo 2";
  color: #121212;
}
.product__add .price:first-letter {
  font-size: 14px;
  padding-right: 5px;
}
.btn_addToCart {
  padding: 5px 10px;
  width: 150px;
  background: #f7f7f7;
  color: #424aa4;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.btn_addToCart:hover,
.btn_addToCart:focus {
  opacity: 0.9;
  outline: 0;
}

.btn_addToCart:active {
  box-shadow: none;
  margin-top: 6px;
}

/* .swal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10000;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s;
}
.swal-modal {
  margin-bottom: 55%;
  margin-left: 60%;
  height: 100px;
  width: 478px;
  opacity: 0;
  pointer-events: none;
  background-color: rgb(66, 186, 150);
  text-align: center;
  border-radius: 5px;
  position: static;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 10001;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
} */
.swal-text {
  font-size: 25px;
  position: relative;
  float: none;
  line-height: normal;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  font-weight: bold;
  color: black;
  max-width: calc(100% - 20px);
  overflow-wrap: break-word;
  box-sizing: border-box;
}
