.home_products {
  background-color: #f5f5f5;
  margin: 30px;
}

.Home row {
  display: flex;
  flex-direction: column;
}
.SideBar {
  width: 20%;
  transition: 0.7s;
}
.active {
  width: 0%;
  transition: 0.7s;
}
.home_products {
  transition: 0.7s;
}
.home_products.active {
  width: 96%;
  transition: 0.7s;
}
